Source: @NAME@
Section: misc
Priority: extra
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@>
Build-Depends:
 debhelper (>= 7.0.50~),
 cmake,
 libssl-dev,
 libestr-dev,
 libjson-c-dev,
 make
Standards-Version: 3.8.4
Homepage: @URL@ 
X-Python-Version: >= 2.5

Package: @NAME@
Architecture: any
Depends: ${misc:Depends}, libssl3, libestr0, rsyslog
Description: @SUMMARY@ 
 @DESCRIPTION@ 
